@import './partials/variables';
@import './partials/mixins';
@import './partials/app';
@import './partials/home';
@import './partials/utilities';
@import './partials/nav-bar';
@import './partials/shoppers';
@import './partials/shopperslist';
@import './partials/shoppinglistitems';
@import './partials/shoppersform';
@import './partials/shoppinglistform';
@import './partials/about';

img {
  max-width: 100%;
}
