@import './partials/variables';
@import './partials/mixins';
@import './partials/app';
@import './partials/utilities';
@import './partials/header';
@import './partials/nav-bar';
@import './partials/shopperslistpage';
@import './partials/shoppersform';
@import './partials/shoppinglistform';

img {
  max-width: 100%;
}
