.about {
  &__container {
    display: flex;
    height: 100vh;
    font-family: 'AvenirNext LT Pro';
    font-weight: bold;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__paragraph {
    font-family: 'AvenirNext LT Pro';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;
  }
}
