body {
  background: #6ea158;
}

.site-wrapper {
  display: flex;
  flex-direction: row-reverse;
  flex-direction: column;

  @include tablet {
    flex-direction: row-reverse;
  }

  @include desktop {
    // @extend flex-direction: row;
    // flex-wrap: wrap;
  }

  .main-content {
    flex-grow: 1;
  }
}
