.home {
  &__container {
    display: flex;
    flex: wrap;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
    font-family: 'AvenirNext LT Pro';
  }
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__title {
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    width: 90%;
  }
  &__peppers {
    top: 10%;
    width: 90%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}
