.home {
  &__container {
    display: flex;
    flex: wrap;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
    font-family: 'AvenirNext LT Pro';
  }
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__title {
    display: flex;
    height: 300px;
    width: 200px;
  }
  &__peppers {
    height: 450px;
    width: 450px;
  }
}
