.home {
  &__container {
    display: flex;
    flex: wrap;
    width: 100vw;
    justify-content: center;
    align-content: center;
    font-family: 'AvenirNext LT Pro';
  }
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__title {
    justify-content: center;
    width: 100vw;

    background: url('./assets/GreenPeppers.png');
  }

  &__peppers {
    width: 100vh;
    height: 100vh;
  }
}
