.home {
  &__container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__title {
    width: 100vw;
    height: 100vh;
    color: white;
    background: url('./assets/GreenPeppers.png') center/cover;
    font-family: 'AvenirNext LT Pro';
    text-align: center;
  }
  &__grocery-store {
    color: white;
    background-color: #0095ff;
  }
}
