.home {
  &__container {
    display: flex;
    flex: wrap;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
    font-family: 'AvenirNext LT Pro';
    position: relative;
  }
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__title {
    position: absolute;
    top: 10px;
    justify-content: center;
    align-items: center;
    width: 75%;
  }
  &__peppers {
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    width: 35%;
    overflow: hidden;
  }
}
