// Responsive Mixin Starts at a Minimum Width, CSS is only applied if the browser viewport is larger than the min width
@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin border($side) {
  // not the syntax #{} allows you to use a variable to build a string:
  // e.g. border-top, border-right, border-bottom, border-left
  border-#{$side}: 1px solid darken($lightest-color, 10%);
}
