.nav {
  &__container {
    display: flex;
    justify-content: space-evenly;
    font-family: 'AvenirNext LT Pro';
    position: sticky;
    top: 0;

    width: 100%;
    // height: 10%;
    background: #ffff7c;
    flex-direction: row;
    flex-wrap: wrap;

    @include tablet {
      flex-direction: column;
      //flex-wrap: wrap;
    }

    @include desktop {
      //flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__home {
    display: flex;
    width: 17%;
    list-style-type: none;
  }

  &__about {
    display: flex;
    max-width: 17%;
    list-style-type: none;
  }

  &__shoppers-form {
    display: flex;
    width: 17%;
    list-style-type: none;
  }
  &__shoppers {
    display: flex;
    width: 17%;
    list-style-type: none;
  }

  &__shoppinglist-form {
    background-color: #ffff7c;
    display: flex;
    width: 17%;
    list-style-type: none;
  }
  &__shoppinglist {
    display: flex;
    width: 17%;
    list-style-type: none;
  }
}
