.nav {
  a {
    color: white !important;
  }
  &__container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    font-family: 'AvenirNext LT Pro';
    position: sticky;
    top: 0;

    width: 100%;
    // height: 10%;
    flex-direction: row;
    flex-wrap: wrap;

    @include tablet {
      flex-direction: column;
      //flex-wrap: wrap;
    }

    @include desktop {
      //flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__home {
    display: block;
    text-align: center;
    justify-content: center;
    align-content: center;
    border: 1px solid black;
    list-style-type: none;
    color: white;
    background-color: #0095ff;
  }

  a {
    padding: 0.65rem;
    display: block;
    text-decoration: none;
  }

  &__about {
    display: block;
    text-align: center;
    align-items: stretch;
    border: 1px solid black;
    list-style-type: none;
    color: white;
    background-color: #0095ff;
  }

  &__shoppers-form {
    display: block;
    text-align: center;
    border: 1px solid black;
    list-style-type: none;
    color: white;
    background-color: #0095ff;
  }
  &__shoppers {
    display: block;
    text-align: center;
    border: 1px solid black;
    list-style-type: none;
    color: white;
    background-color: #0095ff;
  }

  &__shoppinglist-form {
    display: block;
    text-align: center;
    border: 1px solid black;
    list-style-type: none;
    color: white;
    background-color: #0095ff;
  }
  &__shoppinglist {
    display: block;
    text-align: center;
    border: 1px solid black;
    list-style-type: none;
    color: white;
    background-color: #0095ff;
  }
}
