.nav {
  &__container {
    display: flex;
    justify-content: space-between;
    max-height: 10%;
    max-width: 100%;
  }
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__about {
    max-width: 250px;
    list-style-type: none;
  }

  &__shopper-container {
    display: flex;
    width: 50%;
  }

  &__shoppers {
    width: 25%;
    list-style-type: none;
  }
  &__shoppinglists {
    width: 25%;
    list-style-type: none;
  }
}
