.shoppinglistitems {
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
  }

  &__id {
    flex: 1;
    text-align: start;
    list-style-type: none;
    font-family: 'AvenirNext LT Pro';
  }
  &__description {
    flex: 1;
    text-align: start;
    list-style-type: none;
    font-family: 'AvenirNext LT Pro';
  }
  &__quantity {
    flex: 1;
    text-align: start;
    font-family: 'AvenirNext LT Pro';
  }
  &__price {
    flex: 1;
    text-align: start;
    font-family: 'AvenirNext LT Pro';
  }
  &__flyer-item {
    flex: 1;
    font-family: 'AvenirNext LT Pro';
  }
  &__shopper_id {
    flex: 1;
    font-family: 'AvenirNext LT Pro';
  }
}
