.shopper {
  &__container {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
  }

  &__id {
    flex: 1;
    text-align: center;
    list-style-type: none;
    font-family: 'AvenirNext LT Pro';
  }

  &__name {
    flex: 1;
    text-align: start;
    list-style-type: none;
    font-family: 'AvenirNext LT Pro';
  }

  &__address {
    flex: 1;
    text-align: start;
    list-style-type: none;
    font-family: 'AvenirNext LT Pro';
  }

  &__phone {
    flex: 1;
    text-align: center;
    list-style-type: none;
    font-family: 'AvenirNext LT Pro';
  }
  &__email {
    flex: 1;
    text-align: start;
    list-style-type: none;
    font-family: 'AvenirNext LT Pro';
  }
}
