.heading {
  &__labels {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2.5%;
    font-family: 'AvenirNext LT Pro';
  }
  &__span {
    padding: 0.65rem;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #0095ff;
  }
}
