.heading {
  &__labels {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2.5%;
    font-family: 'AvenirNext LT Pro';
  }
  &__span {
    flex: 1;
    justify-content: space-between;
    padding: 1rem;
    color: white;
    background-color: #0095ff;
  }
}
