.shoppers {
  &__container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &__title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
    color: white;
    background-color: coral;
  }

  &__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: space-around;
    width: 80%;
    height: 40rem;
  }

  &__input {
    width: 100%;
    height: 3.125rem;
    font-family: 'AvenirNext LT Pro';
    font-weight: bold;
    display: flex;
  }

  &__button-container {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    // padding-right: 10%;
    padding-left: 5%;

    width: 100%;
    height: 3.25rem;
    font-family: 'AvenirNext LT Pro';
    font-weight: bold;
  }
}
