.shopper {
  &__container {
    display: flex;

    justify-content: space-around;
    align-items: space-around;
    flex-wrap: wrap;
    list-style-type: none;
  }

  &__label {
    font-family: 'AvenirNext LT Pro';
    font-weight: bold;
    font-style: normal;
    font-size: 10%;
  }
  &__id {
    display: flex;
    width: 100%;
  }
  &__name {
    display: flex;
    list-style-type: none;
    font-family: 'AvenirNext LT Pro';
    width: 30%;
  }
  &__address {
    display: flex;
    list-style-type: none;
    font-family: 'AvenirNext LT Pro';
    width: 30%;
  }
  &__email {
    display: flex;
    list-style-type: none;
    font-family: 'AvenirNext LT Pro';
    width: 30%;
  }
}
