.shoppinglistitems {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style-type: none;
  }

  &__id {
    display: flex;
    width: 100%;
  }

  &__name {
    display: flex;
    list-style-type: none;
    font-family: 'AvenirNext LT Pro';
    width: 20%;
  }

  &__address {
    display: flex;
    font-family: 'AvenirNext LT Pro';
    width: 20%;
  }
  &__phone {
    display: flex;
    font-family: 'AvenirNext LT Pro';
    width: 20%;
  }
  &__email {
    display: flex;
    font-family: 'AvenirNext LT Pro';
    width: 20%;
  }
}
.heading {
  &__labels {
    display: flex;
    justify-content: space-around;
    padding-top: 2.5%;
    font-family: 'AvenirNext LT Pro';
  }
  &__span {
    color: white;
    background-color: #0095ff;
  }
}
