.shopper {
  &__container {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }

  &__name {
    display: flex;
    list-style-type: none;
    font-family: 'AvenirNext LT Pro';
  }
  &__address {
    display: flex;
    list-style-type: none;
    font-family: 'AvenirNext LT Pro';
  }
  &__email {
    display: flex;
    list-style-type: none;
    font-family: 'AvenirNext LT Pro';
  }
}
